body {
    margin: 0;
    padding: 0;
    direction: rtl;
}


/* navbar  */

.navbar {
    z-index: 999;
    border-bottom: 1px solid #626262;
    width: 100% !important;
}

.bg-light {
    background: none !important;
}

.navbar-nav li.nav-item a.nav-link {
    color: white;
    padding: 0 21px;
    font-size: 11pt;
}

.navbar-nav li.nav-item a.nav-link:hover {
    color: rgb(235, 48, 7);
    ;
}

.nav-link.active {
    color: rgb(235, 48, 7) !important;
}

.btn-slider-top {
    border: 1px solid rgb(235, 48, 7);
    ;
    width: 7rem;
    text-align: center;
    color: white;
    line-height: 30px;
    border-radius: 50px;
    height: 38px;
    margin-top: 7px;
    background-color: rgb(235, 48, 48);
    transition-duration: 0.4s;
}

.btn-slider-top:hover {
    background: none;
    cursor: pointer;
}

/* slider */
header .navbar-top-slider {
    position: fixed;
    z-index: 9999;
    width: 100%;
}


/* title-main-slider */
.title-main-slider {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 200px;

}

.title-main-slider span {
    display: block;
}

.title-main-slider span:nth-child(1) {
    color: rgb(235, 48, 7);
    font-size: 22pt;
    font-family: inherit;
    font-weight: bolder;
    line-height: 80px;
}

.title-main-slider span:nth-child(2) {
    color: white;
    font-size: 41pt;
    font-weight: bolder;
    line-height: 116px;
}

.btn-nain-slider {
    border: 1px solid rgb(235, 48, 7);
    width: 164px;
    margin: 0 auto;
    border-radius: 50px;
    height: 36px;
    line-height: 30px;
    color: white;
    background: rgb(235, 48, 7);
    cursor: pointer;
    transition-duration: 0.4s;

}

.btn-nain-slider:hover {
    background: none;
    animation: alternate;

}

.title-main-slider .title-span-main {
    color: white;
    font-weight: bolder;
}



/* darbare ma */
.about {
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    background-size: auto;
}

.border-title {
    border: 2px solid #ff440c;
    width: 341px;
    position: relative;
    left: -48px;
    padding: 0 32px;
    height: 344px;
    top: 5rem;
}

.border-title video {
    height: 373px;
    width: 375px;
    box-sizing: border-box;
    position: relative;
    top: 35px;
    box-shadow: 1px 1px 2px 9px lightgrey;
}

.darbare-left {
    position: relative;
    top: 4rem;
}

.about .darbare-left i {
    color: #eb3007;
    font-family: B koodak;
    font-size: 18pt;
    font-weight: bolder;
}

.about .darbare-left P {
    color: black;
    font-size: 27pt;
    font-weight: bolder;
    font-family: inherit;
}

.about .darbare-left span {
    font-size: 10.5pt;
    font-family: inherit;
    text-align: justify;
    display: block;
    color: #7a7a7a;
}

.about .darbare-left .btn-about {
    border: 2px solid rgb(235, 48, 7);
    width: 132px;
    border-radius: 50px;
    height: 42px;
    text-align: center;
    line-height: 30px;
    color: rgb(235, 48, 7);
    margin-top: 29px;
    transition-duration: 0.4s;
}

.about .darbare-left .btn-about:hover {
    background-color: rgb(235, 48, 7);
    color: white;
    cursor: pointer;

}

.about .darbare-left img {
    float: left;
    position: relative;
    top: -64px;
}


/* moarefi start */
.moarefi {
    background-image: url(../img/7c0402abf8f34144baaa7d1f03cef6a2.jpg);
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    height: 100%;

}

.moarefi .border-radius {
    margin: 0 auto;
    display: block;
    border: 3px solid rgb(235, 48, 7);
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin-top: 7rem;
    transition-duration: 0.4s;

}

.moarefi .border-radius:hover {
    background-color: rgb(235, 48, 7);
}

.moarefi .border-radius img {
    margin: 0 auto;
    display: block;
    position: relative;
    top: 33px;
}

.moarefi p {
    color: white;
    text-align: center;
    font-size: 19pt;
    line-height: 64px;
    font-family: inherit;
    font-weight: bolder;
}

.moarefi span {
    display: block;
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 11pt;

}

.moarefi .margin {
    margin-bottom: 40px;
}



/* menu-restoran */

.title-menu-resturan {
    margin-top: 90px;
}

.title-menu-resturan p:nth-child(1) {

    font-size: 15pt;
    font-family: titr;
    font-weight: bolder;
    text-align: center;
    color: #eb3007;
}

.title-menu-resturan p:nth-child(2) {
    text-align: center;
    color: black;
    font-size: 23pt;
    font-family: inherit;
    font-weight: bolder;
}

.menu-restoran {
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    height: 100%;
    width: 100%;
}


.box-menu {
    background: white;
    border: 1px solid silver;
    position: relative;
    height: 170px;
    margin: 26px 0;
}

.box-menu p:nth-child(1) {
    color: #525252;
    font-size: 17pt;
    font-family: B koodak;
    font-weight: bolder;
    display: inline-block;
    padding-top: 12px;
    margin-bottom: 0;
    padding-right: 52px;
}

.box-menu .price {
    display: inline-block;
    float: left;
    border-style: double;
    background: #eb3007;
    border-color: white;
    color: white;
    font-size: 12pt;
    width: 59px;
    text-align: center;
    font-family: B koodak;
}

.box-menu span.title-main-menu-restoran {
    display: block;
    padding: 12px 53px;
    font-size: 10pt;
    font-family: unset;
    color: #838383;
}

.box-menu .mohtava {
    color: #eb3007;
    border-left: 2px solid silver;
    padding-right: 48px;
    font-size: 10pt;
    font-weight: 500;
}

.box-menu .mohtava2 {
    font-size: 10pt;
    color: #ababab;
    padding-right: 8px;
}



/* khoshmaze */
.khoshmaze {
    background-image: url(../img/b77cd76de4364f9091262ecdf102ad9b.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}

.khoshmaze .carousel {
    margin-bottom: 106px;
}

.khoshmaze .title-top-khoshmaze {
    text-align: center;
    margin-top: 138px;
}

.khoshmaze .title-top-khoshmaze p:nth-child(1) {
    color: #eb3007;
    font-size: 15pt;
    margin-bottom: 0;
    font-weight: bolder;
}

.khoshmaze .title-top-khoshmaze p:nth-child(2) {
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: titr;
}

.main-box-khoshmaze {
    padding: 5px 22px;

}

.khoshmaze .box-khoshmaze-left {
    width: 537px;
    background-color: white;
    box-shadow: 1px 1px 2px 9px #ebebeb;
    position: relative;
    right: -8rem;
    top: 2rem;
}

.box-khoshmaze-left p {
    color: #eb3007;
    font-size: 16pt;
    font-family: titr;
    padding: 19px 19px 0px 0;
}

.box-khoshmaze-left span.name-food {
    font-size: 12pt;
    font-family: inherit;
    color: #858181;
    padding-left: 6px;

}


.khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
    font-size: 21pt;
    color: #6e6e6e;
}

.khoshmaze .box-khoshmaze-left .price-food {
    font-family: B koodak;
    font-size: 14pt;
    color: #999797;
    padding-right: 13px;
}



/* cooks start */
.cooks {
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    width: 100%;
    height: 55rem;
}

.title-top-cooks {
    text-align: center;
    margin-top: 65px;
}

.title-top-cooks p:nth-child(1) {
    color: #eb3007;
    font-size: 15pt;
    margin-bottom: 0;
    font-weight: bolder;
}

.title-top-cooks p:nth-child(2) {
    color: black;
    font-size: 33px;
    font-weight: bolder;
    font-family: titr;

}

.image-cooks {
    margin-top: 60px;
    box-shadow: 0 0 2px 6px silver;
    height: 91%;
}


.image-cooks img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: 100%;
}

.cooks .information-cooks {
    width: 100%;
    background-color: white;
    margin-top: 60px;
    height: 91%;

    box-shadow: -10px 0px 4px 7px silver;
}

.cooks .box-shadow-cooks {
    box-shadow: 0px 0px 4px 7px silver;

}

.cooks .box-shadow-buttom-cooks {
    box-shadow: -10px 0px 4px 7px silver;

}

.cooks .information-cooks p:nth-child(1) {
    color: black;
    font-size: 25pt;
    font-family: B koodak;
    padding: 27px 25px 0px 0px;
}

.cooks .information-cooks p:nth-child(2) {
    color: #eb3007;
    font-size: 11pt;
    font-family: inherit;
    font-weight: bolder;
    padding: 0 22px 0 0;

}

.cooks .information-cooks span.title-box-main-cooks {
    display: block;
    text-align: justify;
    font-size: 11pt;
    color: #787777;
    padding: 30px 37px;
}


.cooks .information-cooks img {
    float: left;
    padding: 25px 59px;
}




/* Reserve start */

.reserve-right {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/back88.png);
    background-size: auto;
    height: 100%;
}

.Reserve .reserve-right .input-Reserve input {
    display: block;
}

.Reserve .reserve-right p:nth-child(1) {
    color: #eb3007;
    font-size: 15pt;
    font-family: titr;
    margin-bottom: 0;
    padding: 160px 95px 0px 0px;
}

.Reserve .reserve-right p:nth-child(2) {
    color: white;
    font-size: 30pt;
    font-family: inherit;
    font-weight: bolder;
    padding: 0px 95px 13px 0px;
}

.Reserve .container-fluid .input-Reserve input {
    width: 73%;
    font-size: 11pt;
    height: 38px;
    text-align: right;
    margin: 12px auto;
}

.Reserve .container-fluid .input-Reserve input:nth-child(4) {
    height: 147px;
}

.btn-Reserve {
    margin: 26px 6rem;
}

.Reserve .img-Reserve img {
    width: 100%;
    height: 100%;
}

.img-Reserve {
    height: 100%;
}

/* Reserve end */


/* Lovely food start */
.Lovely-food {
    margin-top: 5rem;
}

.Lovely-food .container-img img {

    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 1.5rem;
}

.Lovely-food .Lovely-food-title {
    text-align: center;
}

.Lovely-food-title p:nth-child(1) {
    color: #eb3030;
    font-size: 13pt;
    font-family: titr;
    margin-bottom: 0;
}

.Lovely-food-title p:nth-child(2) {
    font-size: 24pt;
    font-family: inherit;
    font-weight: bolder;
}

.Lovely-food .container-img .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.Lovely-food .container-img {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
}

.Lovely-food .container-img:hover img {
    opacity: 0.3;

}

.Lovely-food .container-img:hover .middle {
    opacity: 1;
}

.Lovely-food .container-img text {
    background-color: #04AA6D;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding: 16px 32px;
}

/* Lovely food end */


/* Comments start */
.Comments {
    background-image: url(../img/211ba9a53e1242f19816314d437d36f6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.Comments .carousel {
    width: 30%;
    margin: auto;
}

.Comments .comments-title-top {
    text-align: center;
    margin-top: 4rem;
}

.Comments .comments-title-top p:nth-child(1) {
    color: #ffb100;
    font-size: 16pt;
    font-family: titr;
    margin: 0;
}

.Comments .comments-title-top p:nth-child(2) {
    color: white;
    font-size: 30pt;
    font-family: inherit;
    font-weight: bolder;
}

.Comments .carousel-caption {
    margin-top: 0;
    padding: 0rem 0;
    width: 25rem;
}

.Comments .carousel-caption h5 {
    color: white;
    font-size: 17pt;
    font-family: inherit;
    width: 16rem;
    text-align: center;
    position: relative;
    top: 1rem;

}

.Comments .carousel-caption p {
    color: white;
    font-size: 10pt;
    font-family: inherit;
    text-align: justify;
    width: 17rem;
    position: relative;
    top: 1rem;

}

/* Comments end */





/* weblog */
.weblog {
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    width: 100%;
    height: 100%;
}

.weblog .title-weblog-top {
    text-align: center;
    margin-top: 6rem;
}

.weblog .title-weblog-top p:nth-child(1) {
    font-size: 16pt;
    font-family: titr;
    color: #f15424;
    margin-bottom: 0;
}

.weblog .title-weblog-top p:nth-child(2) {
    font-size: 25pt;
    font-weight: bolder;
    font-family: inherit;
    margin-bottom: 4rem !important;
}

.weblog .image-weblog img {
    width: 100%;
    object-fit: cover;
    height: 60px;
    display: block;
}

.weblog .image-weblog a {
    font-size: 12pt;
    font-family: inherit;
    color: #898989;
    padding-top: 7px;
    text-decoration: none;
}

.weblog .image-weblog p {
    font-size: 10pt;
    color: #999999;
    font-family: inherit;
}


/* Katrink start */
.Katrink {
    background-image: url(../img/850a089a10c64bcdb34a5847d7206907.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.Katrink .title-katrink {
    text-align: center;
    margin-top: 11rem;
}

.Katrink .title-katrink h2 {
    font-size: 34pt;
    color: white;
    font-family: B koodak;
    margin-bottom: 2rem;
}

.Katrink .title-katrink p {
    color: white;
    margin: 0;
    font-size: 15pt;
    font-family: inherit;
}

.Katrink .btn-Katrink {
    border: 1px solid rgb(236, 83, 83);
    ;
    width: 197px;
    border-radius: 50px;
    height: 3rem;
    line-height: 40px;
    color: white;
    background-color: rgb(235, 48, 7);
    margin: 2rem auto;
}

.Katrink .btn-Katrink:hover {
    background: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Katrink end */

/* footer */
.background-footer {
    background-color: rgb(0, 0, 0);
    background-image: url(../img/back88.png);
    background-size: auto;
}

.background-footer .title-footer-main {
    margin-top: 7rem;
}

.background-footer .title-footer-main p:nth-child(1) {
    color: white;
    font-family: titr;
    font-size: 17pt;
    text-align: center;
}

.background-footer .border-buttom-footer {
    border-bottom: 3px solid red;
    width: 27%;
    margin: auto;
    margin-bottom: 1.5rem;
}

.background-footer .title-footer-main p.title-footer {
    text-align: center;
    color: white;
}

.footer-buttom {
    height: 5rem;
    background: black;
}

.background-footer-buttom span.title-footer1 {
    position: relative;
    top: 1.5rem;
    right: 5rem;
    color: white;
    font-size: 11pt;
    font-family: inherit;
}

.background-footer-buttom span.title-footer2 {
    float: left;
    position: relative;
    top: 1.5rem;
    left: 7rem;
}

.background-footer-buttom span.title-footer2 a {
    color: white;
    font-size: 16pt;
    padding: 0 15px;
}
























/* responsive  start */
@media screen and (max-width:1100px) {
    .navbar-nav li.nav-item a.nav-link {
        font-size: 12pt;
        padding: 0 13px;
    }

    .cooks {
        height: 60rem;
    }
}

@media screen and (max-width:900px) {



    .title-main-slider {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 150px;
    }

    .title-main-slider span:nth-child(1) {
        color: rgb(235, 48, 7);
        font-size: 20pt;
        font-family: inherit;
        font-weight: bolder;
        line-height: 16px;
    }

    .title-main-slider span:nth-child(2) {
        color: white;
        font-size: 32pt;
        font-weight: bolder;
        line-height: 116px;
    }

    .navbar-top-slider {
        width: 82%;
    }

    .container-fluid {
        display: block;
        float: left;
    }

    .btn-slider-top {
        display: none;
    }

    .container-fluid {
        display: block !important;
    }

    .navbar-toggler {
        float: left;
        background: linear-gradient(331deg, rgba(16, 252, 226, 0.6138830532212884) 0%, rgba(69, 209, 204, 1) 18%, rgba(215, 93, 145, 1) 67%);
    }

    .about {
        height: 95rem;
    }

    .about .border-title {
        margin: 0 auto;
        width: 467px;
        height: 445px;
        position: relative;
        left: 56px;
    }

    .about .darbare-left i {
        font-size: 27pt;
    }

    .about .darbare-left span {
        font-size: 19.5pt;
    }

    .darbare-left {
        position: relative;
        top: 12rem;
    }


    .about .darbare-left .btn-about {

        width: 32%;
        height: 55px;
        line-height: 35px;
        font-size: 23pt;
        font-weight: bolder;
        margin: 50px auto;

    }

    .border-title video {
        width: 470px;
        height: 470px;
    }

    .khoshmaze {
        height: 92rem;
    }

    .khoshmaze .box-khoshmaze-left {
        width: 100%;
        position: relative;
        right: 0;
        margin: 0 auto;
    }

    .box-khoshmaze-left span.name-food {
        font-size: 22pt;
    }

    .main-box-khoshmaze {
        text-align: center;
    }

    .main-box-khoshmaze img {
        width: 59px;
    }

    .khoshmaze .box-khoshmaze-left .price-food {
        font-size: 21pt;
    }

    .box-khoshmaze-left p {
        font-size: 21pt;
    }

    .title-top-cooks p:nth-child(1) {
        font-size: 23pt;
    }

    .cooks .information-cooks p:nth-child(2) {
        font-size: 18pt;
    }

    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 18pt;
    }

    .cooks .information-cooks {
        margin-top: -6px;
        height: 91%;
        box-shadow: 0px 7px 1px 2px silver;
    }

    .image-cooks {

        margin-top: 65px;
        box-shadow: 0 -3px 0px 2px silver;
        height: 91%;
    }

    .cooks {
        height: 119rem;
    }

    .cooks .information-cooks img {
        padding: 47px 0 113px 52px;
    }

    .moarefi .border-radius img {
        position: relative;
        top: 56px;
        height: 171px;
        width: 171px;
    }

    .moarefi .border-radius {
        width: 300px;
        height: 300px;
        margin-top: 7rem;

    }

    .moarefi p {
        font-size: 34pt;
    }

    .moarefi span {
        font-size: 18pt;
    }

    .title-menu-resturan p:nth-child(1) {
        font-size: 29pt;
    }

    .title-menu-resturan p:nth-child(2) {
        font-size: 32pt;
    }

    .box-menu p:nth-child(1) {
        font-size: 26pt;
    }

    .box-menu span.title-main-menu-restoran {
        font-size: 18pt;
    }

    .box-menu .price {
        font-size: 19pt;
        width: 82px;
        height: 45px;
    }

    .box-menu {
        height: 300px;
    }

    .box-menu .mohtava {
        font-size: 18pt;
    }

    .box-menu .mohtava2 {
        font-size: 14pt;
    }

    .Reserve {
        height: 100rem;
    }

    .Reserve .reserve-right p:nth-child(1) {
        font-size: 23pt;
    }

    .Reserve .container-fluid .input-Reserve input {
        width: 80%;
        font-size: 16pt;
        height: 61px;
    }

    .Reserve .btn-slider-top {
        display: block;
    }

    .Reserve .btn-slider-top {

        width: 13rem;
        line-height: 46px;
        height: 62px;
        font-size: 20pt;
    }

    .Lovely-food {
        height: 122rem;
    }

    .Lovely-food-title p:nth-child(1) {
        font-size: 29pt;
    }

    .Comments .carousel {
        width: 70%;
    }

    .Comments .carousel-caption h5 {

        font-size: 22pt;
        width: 23rem;
        position: relative;
        top: 0rem;
    }

    .Comments .carousel-caption p {

        font-size: 15pt;
        width: 26rem;
        position: relative;
        top: 1rem;
    }

    .weblog .image-weblog a {
        font-size: 18pt;
    }

    .weblog .image-weblog p {
        font-size: 15pt;
    }

    .background-footer .title-footer-main p:nth-child(1) {
        font-size: 24pt;
    }

    .background-footer .title-footer-main p.title-footer {
        font-size: 19pt;
    }

    .background-footer-buttom span.title-footer1 {
        position: relative;
        right: 0rem;
        color: white;
        font-size: 19pt;
        display: block;
        text-align: center;
    }

    .footer-buttom {
        height: 9rem;
    }

    .background-footer-buttom span.title-footer2 a {
        font-size: 27pt;
    }

    .background-footer-buttom span.title-footer2 {

        position: relative;
        top: 2.5rem;
        left: 17rem;

    }
}




@media screen and (max-width:700px) {
    .title-main-slider {
        position: absolute;
        top: 100px;
    }

    .about .darbare-left span {
        font-size: 16.5pt;
    }

    .moarefi p {
        font-size: 25pt;
    }

    .moarefi span {
        font-size: 15pt;
    }

    .box-menu span.title-main-menu-restoran {
        font-size: 14pt;
        text-align: justify;
    }

    .box-menu .mohtava {
        font-size: 14pt;
    }

    .box-menu .mohtava2 {
        font-size: 13pt;
    }

    .box-menu p:nth-child(1) {
        font-size: 20pt;
    }

    .box-khoshmaze-left span.name-food {
        font-size: 18pt;
    }

    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
        font-size: 14pt;
    }

    .khoshmaze .box-khoshmaze-left .price-food {
        font-size: 18pt;
    }

    .Lovely-food {
        height: 98rem;
    }

    .Comments .carousel {
        width: 100%;
    }

    .background-footer-buttom span.title-footer2 {
        position: relative;

        left: 11rem;
    }
}

@media screen and (max-width:600px) {
    .navbar-top-slider {
        width: 100%;
        background: linear-gradient(90deg, rgba(223, 175, 255, 1) 0%, rgba(248, 255, 126, 1) 38%, rgba(41, 94, 98, 1) 86%);
    }

    .slider-top {
        display: none;
    }

    .title-main-slider {
        display: none;
    }

    .about {
        position: relative;
        top: 6rem;
        height: 74rem;
    }

    .about .border-title {
        width: 335px;
        height: 344px;
    }

    .border-title video {
        width: 350px;
        height: 350px;
    }

    .about .darbare-left i {
        font-size: 18pt;
    }

    .about .darbare-left P {
        font-size: 21pt;
    }

    .about .darbare-left span {
        font-size: 12.5pt;
    }

    .about .darbare-left .btn-about {
        width: 24%;
        height: 48px;
        font-size: 15pt;
    }

    .moarefi .border-radius {
        width: 200px;
        height: 200px;
        margin-top: 11rem;
    }

    .moarefi p {
        font-size: 17pt;
    }

    .moarefi span {
        font-size: 13pt;
    }

    .moarefi .border-radius img {
        position: relative;
        top: 50px;
        height: 100px;
        width: 100px;
    }

    .title-menu-resturan p:nth-child(1) {
        font-size: 23pt;
    }

    .title-menu-resturan p:nth-child(2) {
        font-size: 32pt;
    }

    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 15pt;
    }

    .Lovely-food {
        height: 87rem;
    }

    .Comments .comments-title-top p:nth-child(2) {
        font-size: 19pt;
    }

    .background-footer-buttom span.title-footer1 {
        font-size: 14pt;
    }

    .background-footer .title-footer-main p:nth-child(1) {
        font-size: 20pt;
    }

    .background-footer .title-footer-main p.title-footer {
        font-size: 14pt;
    }

    .background-footer-buttom span.title-footer2 a {
        font-size: 19pt;
    }
}



@media screen and (max-width:600px) {
    .about {
        height: 1211px;
    }

    .box-menu span.title-main-menu-restoran {
        font-size: 12pt;
    }

    .box-menu .mohtava {
        font-size: 11pt;
    }

    .box-menu .mohtava2 {
        font-size: 10pt;
    }

    .box-menu .price {
        font-size: 15pt;
        width: 67px;
        height: 36px;
    }

    .box-menu {
        height: 239px;
    }

    .box-menu p:nth-child(1) {
        font-size: 17pt;
    }

    .box-khoshmaze-left span.name-food {
        font-size: 14pt;
    }

    .khoshmaze .box-khoshmaze-left .price-food {
        font-size: 14pt;
    }

    .title-top-cooks p:nth-child(1) {
        font-size: 19pt;
    }

    .image-cooks {
        height: 100%;
        width: 93%;
        margin: 0 auto;
    }

    .cooks .information-cooks {
        height: 92%;
        width: 93%;
        margin: 0 auto;
    }

    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 13pt;
    }

    .cooks {
        height: 96rem;
    }

    .Reserve .container-fluid .input-Reserve input {
        width: 80%;
        font-size: 12pt;
        height: 45px;
    }

    .Reserve .btn-slider-top {
        width: 9rem;
        line-height: 39px;
        height: 50px;
        font-size: 14pt;
    }

    .Reserve {
        height: 76rem;
    }

    .Reserve .reserve-right p:nth-child(2) {
        font-size: 22pt;
    }

    .Lovely-food-title p:nth-child(1) {
        font-size: 19pt;
    }

    .Lovely-food-title p:nth-child(2) {
        font-size: 19pt;
    }

    .Lovely-food .container-img img {
        width: 100%;
        height: 212px;
        object-fit: cover;
    }

    .Lovely-food {
        height: 127rem;
    }

    .Comments .carousel {
        width: 69%
    }

    .Comments .carousel-caption h5 {
        font-size: 13pt;
        width: 15rem;
        position: relative;
        top: 1.5rem;
    }

    .Comments .carousel-caption p {
        font-size: 12pt;
        width: 17rem;
        position: relative;
        top: 1rem;
    }

    .weblog .image-weblog a {
        font-size: 13pt;
    }

    .weblog .image-weblog p {
        font-size: 10pt;
    }

    .Katrink .title-katrink h2 {
        font-size: 27pt;
    }

    .Katrink .title-katrink p {
        font-size: 11pt;
    }

    .Katrink .btn-Katrink {
        width: 147px;
    }

    .background-footer-buttom span.title-footer2 {
        position: relative;
        left: 6rem;
    }
}

@media screen and (max-width:400px) {
    .about .border-title {
        position: relative;
        left: 25px;
        width: 250px;
        height: 250px;

    }

    .border-title video {
        width: 250px;
        height: 250px;
    }

    .about .darbare-left span {
        font-size: 11pt;
    }

    .about {
        height: 1103px;
    }

    .title-menu-resturan p:nth-child(1) {
        font-size: 17pt;
    }

    .title-menu-resturan p:nth-child(2) {
        font-size: 20pt;
    }

    .box-menu span.title-main-menu-restoran {
        font-size: 10pt;
    }

    .box-menu .mohtava {
        font-size: 10pt;
        padding-right: 20px;
    }

    .box-khoshmaze-left span.name-food {
        font-size: 11pt;
    }

    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
        font-size: 9pt;
    }

    .khoshmaze .box-khoshmaze-left .price-food {
        font-size: 11pt;
    }

    .box-khoshmaze-left p {
        font-size: 15pt;
    }

    .khoshmaze {
        height: 78rem;
    }

    .Reserve {
        height: 59rem;
    }

    .Reserve .container-fluid .input-Reserve input {
        width: 98%;
        font-size: 9pt;
        height: 31px;
    }

    .Reserve .reserve-right p:nth-child(1) {
        font-size: 20pt;
        padding: 99px 24px 0px 0px;
    }

    .Reserve .reserve-right p:nth-child(2) {
        font-size: 18pt;
        padding: 0px 36px 13px 0px;
    }

    .Comments .carousel-caption p {
        font-size: 9pt;
        width: 13rem;
        position: relative;
        top: 2rem;
    }

    .Comments .carousel-caption h5 {
        font-size: 10pt;
        width: 12rem;
        position: relative;
        top: 2rem;
    }

    .Comments .comments-title-top p:nth-child(2) {
        font-size: 13pt;
    }

    .weblog .image-weblog a {
        font-size: 10pt;
    }

    .Katrink .title-katrink h2 {
        font-size: 21pt;
    }

    .background-footer-buttom span.title-footer1 {
        font-size: 9pt;
    }

    .background-footer-buttom span.title-footer2 a {
        font-size: 14pt;
    }

    .background-footer-buttom span.title-footer2 {
        position: relative;
        left: 4rem;
    }

    .background-footer .title-footer-main p:nth-child(1) {
        font-size: 14pt;
    }

    .background-footer .title-footer-main p.title-footer {
        font-size: 10pt;
    }
}


@media screen and (max-width:300px) {
    .navbar-top-slider .img-slider-top img {
        width: 151px;
    }

    .border-title video {
        width: 228px;
        height: 228px;
    }

    .about .border-title {
        position: relative;
        left: 18px;
        width: 233px;
        height: 233px;
    }

    .about .darbare-left i {
        font-size: 14pt;
    }

    .about .darbare-left P {
        font-size: 13pt;
    }

    .about .darbare-left span {
        font-size: 10pt;
    }

    .about .darbare-left .btn-about {
        width: 46%;
        height: 34px;
        font-size: 12pt;
        line-height: 26px;
    }

    .about {
        height: 1083px;
    }

    .moarefi .border-radius img {
        position: relative;
        top: 35px;
        height: 80px;
        width: 80px;
    }

    .moarefi .border-radius {
        width: 150px;
        height: 150px;
        margin-top: 11rem;
    }

    .moarefi p {
        font-size: 13pt;
    }

    .moarefi span {
        font-size: 9pt;
    }

    .title-menu-resturan {
        margin-top: 63px;
    }

    .title-menu-resturan p:nth-child(1) {
        font-size: 12pt;
    }

    .title-menu-resturan p:nth-child(2) {
        font-size: 17pt;
    }

    .box-menu span.title-main-menu-restoran {
        padding: 12px 14px;
    }

    .box-menu p:nth-child(1) {
        font-size: 14pt;
        padding-right: 20px;
    }

    .box-menu .price {
        font-size: 11pt;
        width: 54px;
        height: 30px;
    }

    .box-menu .mohtava2 {
        font-size: 9pt;
    }

    .main-box-khoshmaze img {
        width: 26px;
    }

    .box-khoshmaze-left span.name-food {
        font-size: 10pt;
    }

    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
        font-size: 8pt;
    }

    .main-box-khoshmaze {
        padding: 5px 7px;
    }

    .box-khoshmaze-left p {
        font-size: 12pt;
    }

    .title-top-cooks p:nth-child(1) {
        font-size: 13pt;
    }

    .title-top-cooks p:nth-child(2) {
        font-size: 27px;
    }

    .cooks .information-cooks p:nth-child(1) {
        font-size: 17pt;
    }

    .cooks .information-cooks p:nth-child(2) {
        font-size: 12pt;
    }

    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 10pt;
    }

    .cooks {
        height: 82rem;
    }

    .Reserve .reserve-right p:nth-child(1) {
        font-size: 14pt;
    }

    .Reserve .reserve-right p:nth-child(2) {
        font-size: 13pt;
    }

    .Reserve .btn-slider-top {
        width: 8rem;
        line-height: 35px;
        height: 39px;
        font-size: 12pt;
    }

    .Reserve {
        height: 51rem;
    }

    .Lovely-food-title p:nth-child(1) {
        font-size: 13pt;
    }

    .Lovely-food-title p:nth-child(2) {
        font-size: 12pt;
    }

    .Lovely-food .container-img img {
        height: 116px;
        object-fit: cover;
    }

    .Lovely-food {
        height: 77rem;
    }

    .Comments .carousel-caption p {
        font-size: 7.5pt;
    }

    .Comments .carousel-caption h5 {
        font-size: 9pt;
        width: 9rem;
        position: relative;
        top: 2.5rem;
    }

    .Katrink .title-katrink h2 {
        font-size: 16pt;
    }

    .Katrink .title-katrink p {
        font-size: 10pt;
    }

    .Katrink .title-katrink {
        margin-top: 7rem;
    }

    .Katrink .btn-Katrink {
        width: 120px;
        font-size: 11pt;
        height: 2rem;
        line-height: 28px;
    }

    .background-footer-buttom span.title-footer2 {
        position: relative;
        left: 1rem;
    }
}


@media screen and (max-width:375px) {
    .about .darbare-left .btn-about {
        width: 37%;
    }

    .about {
        height: 1124px;
    }

    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
        font-size: 8pt;
    }
}



@media screen and (max-width:414px) {
    .Katrink .title-katrink h2 {
        font-size: 26pt;
    }

    .Reserve .container-fluid .input-Reserve input {
        width: 94%;
    }

    .Reserve .reserve-right p:nth-child(1) {
        font-size: 20pt;
        padding: 160px 16px 0px 0px;
    }

    .Reserve .reserve-right p:nth-child(2) {
        padding: 0px 16px 13px 0px;
        font-size: 19pt;
    }

    .main-box-khoshmaze {
        padding: 5px 0px;
    }

    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left {
        font-size: 8pt;
    }

    .box-menu {
        height: 269px;
    }

    .about {
        height: 1261px;
    }

    .about .darbare-left .btn-about {
        width: 35%;
    }

    .border-title video {
        width: 300px;
        height: 300px;
    }

    .about .border-title {
        width: 282px;
        height: 320px;
        position: relative;
        left: 30px;
    }


}


@media screen and (max-width:414px) {
    .about {
        height: 1171px;
    }
}



@media screen and (max-width:360px) {
    .about {
        height: 1218px;
    }

    .Katrink .title-katrink h2 {
        font-size: 20pt;
    }
}


@media screen and (max-width:412px) {
    .background-footer-buttom span.title-footer1 {
        font-size: 13pt;
    }

    .background-footer-buttom span.title-footer2 {
        position: relative;
        left: 3rem;
    }

    .Comments .carousel-caption p {
        font-size: 10pt;
        width: 13rem;
        position: relative;
        top: 1rem;
    }

    .Comments .carousel-caption h5 {
        width: 13rem;
    }

    .about {
    height: 1294px;;
    }
}



@media screen and (max-width:912px) {
    .btn-slider-top {
        display: none;
    }

    .navbar-top-slider .container-fluid {
        display: block;
    }

    .navbar-top-slider .container-fluid .navbar-toggler {
        float: left;
        background: linear-gradient(331deg, rgba(16, 252, 226, 0.6138830532212884) 0%, rgba(69, 209, 204, 1) 18%, rgba(215, 93, 145, 1) 67%);
    }

    .title-main-slider {
        position: absolute;
        top: 108px;
    }

    .darbare-left {
        position: relative;
        top: 14rem;
    }

    .border-title {
        position: relative;
        left: -151px;
    }

    .about {
        height: 1026px;
    }

    .khoshmaze {
        height: 1470px;
    }

    .khoshmaze .box-khoshmaze-left {
        width: 100%;
        position: relative;
        right: 0;
    }

    .main-box-khoshmaze {
        text-align: center;
    }

    .cooks {
        height: 107rem;
    }

    .cooks .information-cooks {
        margin-top: 0;
        height: 104%;
        box-shadow: -1px 7px 23px 4px silver;
    }

    .image-cooks {
        margin-top: 60px;
        box-shadow: 0 -9px 10px 3px silver;
        height: 93%;
    }

    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 15pt;
    }
}


@media screen and (max-width:912px) {
    .about .border-title {
        position: relative;
        left: 28px;
    }
    .about{
        height: 1218px;
    }
    .cooks{
        height: 115rem;
    }
}



@media screen and (max-width:280px){
    .background-footer-buttom span.title-footer1{
        font-size: 9pt;
    }
    .background-footer-buttom span.title-footer2{
        position: relative;
    left: 1rem;
    }
    .cooks{
        height: 131rem;
    }
    .cooks .information-cooks{
        height: 94%;
    }
    .cooks .information-cooks span.title-box-main-cooks {
        font-size: 11pt;
    }
    .khoshmaze .box-khoshmaze-left .dot-khoshmaze-left{
        font-size: 7pt;
    }
    .khoshmaze {
        height: 954px;
    }
    .about .border-title{
        position: relative;
        left: 28px;
        width: 200px;
        height: 200px;    
    }
    .border-title video{
        width: 200px;
        height: 200px;
    }
    .about{
        height: 1101px;
    }

    .cooks {
        height: 97rem;
    }
}




@media screen and (max-width:412px){
    .about{
        height: 1294px;
    }
}




/* responsive  end */