body{
    margin: 0;
    padding: 0;
    direction: rtl;
}


/* navbar  */

.navbar {
    z-index: 999;
    border-bottom: 1px solid #626262;
    width: 100% !important;
}
.bg-light{
background: none !important;
}
.navbar-nav li.nav-item a.nav-link{
    color: white;
    padding: 0 21px;
    font-size: 11pt;
}
.navbar-nav li.nav-item a.nav-link:hover{
    color: rgb(235, 48, 7);;
}
.nav-link.active{
    color: rgb(235, 48, 7) !important;
}
.btn-slider-top{
    border: 1px solid rgb(235, 48, 7);;
    width: 7rem;
    text-align: center;
    color: white;
    line-height: 30px;
    border-radius: 50px;
    height: 38px;
    margin-top: 7px;
    background-color: rgb(235, 48, 48);
    transition-duration: 0.4s;
}
.btn-slider-top:hover{
    background: none;
    cursor: pointer;
}

/* slider */
.slider-top{
    position: relative;
    top: -4rem;
}


/* title-main-slider */
.title-main-slider{
    position: relative;
    text-align: center;
    bottom: 30rem;
}
.title-main-slider span{
    display: block;
}
.title-main-slider span:nth-child(1){
    color: rgb(235, 48, 7);
    font-size: 22pt;
    font-family: inherit;
    font-weight: bolder;
    line-height: 80px;
}
.title-main-slider span:nth-child(2){
    color: white;
    font-size: 41pt;
    font-weight: bolder;
    line-height: 116px;
}

.btn-nain-slider{
    border: 1px solid rgb(235, 48, 7);
    width: 164px;
    margin: 0 auto;
    border-radius: 50px;
    height: 36px;
    line-height: 30px;
    color: white;
    background:rgb(235, 48, 7);
    cursor: pointer;
    transition-duration: 0.4s;
    
}
.btn-nain-slider:hover{
    background: none;
    animation: alternate;
   
}
.title-main-slider .title-span-main{
color: white;
font-weight: bolder;
}



/* darbare ma */
.about{
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    background-size: auto;
    position: relative;
    top: -20rem;
}
.border-title{
    border: 2px solid #ff440c;
    width: 341px;
    position: relative;
    left: -48px;
    padding: 0 32px;
    height: 344px;
    top: 5rem;
}
.border-title video{
    height: 373px;
    width: 375px;
    box-sizing: border-box;
    position: relative;
    top: 35px;
    box-shadow: 1px 1px 2px 9px lightgrey;
}
.darbare-left{
    position: relative;
    top: 4rem;
}
.about .darbare-left i{
    color: #eb3007;
    font-family: B koodak;
    font-size: 18pt;
    font-weight: bolder;
}
.about .darbare-left P{
    color: black;
    font-size: 27pt;
    font-weight: bolder;
    font-family: inherit;
}
.about .darbare-left span{
    font-size: 10.5pt;
    font-family: inherit;
    text-align: justify;
    display: block;
    color: #7a7a7a;
}
.about .darbare-left .btn-about{
    border: 2px solid rgb(235, 48, 7);
    width: 132px;
    border-radius: 50px;
    height: 42px;
    text-align: center;
    line-height: 30px;
    color: rgb(235, 48, 7);
    margin-top: 29px;
    transition-duration: 0.4s;
}
.about .darbare-left .btn-about:hover{
    background-color:rgb(235, 48, 7) ;
    color: white;
    cursor: pointer;

}

.about .darbare-left img{
    float: left;
    position: relative;
    top: -64px;
}


/* moarefi start */
.moarefi{
    background-image: url(../img/7c0402abf8f34144baaa7d1f03cef6a2.jpg);
    background-attachment: fixed;
    background-size: cover;
   width: 100%;
   height: 100%;
   
} 
.moarefi .border-radius{
    margin: 0 auto;
    display: block;
    border: 3px solid rgb(235, 48, 7);
    border-radius: 50%;
    width: 145px;
    height: 145px;
    margin-top: 7rem;
    transition-duration: 0.4s;
    
}
.moarefi .border-radius:hover{
    background-color: rgb(235, 48, 7);
} 

.moarefi .border-radius img{
    margin: 0 auto;
    display: block;
    position: relative;
    top: 33px;
}

.moarefi p{
    color: white;
    text-align: center;
    font-size: 19pt;
    line-height: 64px;
    font-family: inherit;
    font-weight: bolder;
}
.moarefi span{
    display: block;
    text-align: center;
    color: white;
    font-family: inherit;
    font-size: 11pt;

} 
.moarefi .margin{
    margin-bottom: 40px;
}



/* menu-restoran */

.title-menu-resturan{
    margin-top: 90px;
}

.title-menu-resturan p:nth-child(1){
   
    font-size: 15pt;
    font-family: titr;
    font-weight: bolder;
    text-align: center;
    color: #eb3007;
}

.title-menu-resturan p:nth-child(2){
    text-align: center;
    color: black;
    font-size: 23pt;
    font-family: inherit;
    font-weight: bolder;
}

.menu-restoran{
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    height: 100%;
    width: 100%;
}


.box-menu{
    background: white;
    border: 1px solid silver;
    position: relative;
    height: 170px;
    margin: 26px 0;
}
.box-menu p:nth-child(1){
    color: #525252;
    font-size: 17pt;
    font-family: B koodak;
    font-weight: bolder;
    display: inline-block;
    padding-top: 12px;
    margin-bottom: 0;
    padding-right: 52px;
}

.box-menu .price{
    display: inline-block;
    float: left;
    border-style: double;
    background: #eb3007;
    border-color: white;
    color: white;
    font-size: 12pt;
    width: 59px;
    text-align: center;
    font-family: B koodak;
}

.box-menu span.title-main-menu-restoran{
    display: block;
    padding: 12px 53px;
    font-size: 10pt;
    font-family: unset;
    color: #838383;
}

.box-menu .mohtava{
    color: #eb3007;
    border-left: 2px solid silver;
    padding-right: 48px;
    font-size: 10pt;
    font-weight: 500;
}
.box-menu .mohtava2{
    font-size: 10pt;
    color: #ababab;
    padding-right: 8px;
}



/* khoshmaze */
.khoshmaze{
    background-image: url(../img/b77cd76de4364f9091262ecdf102ad9b.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
}
.khoshmaze .carousel {
    margin-bottom: 106px;
}
.khoshmaze .title-top-khoshmaze{
    text-align: center;
    margin-top: 138px;
}
.khoshmaze .title-top-khoshmaze p:nth-child(1){
    color: #eb3007;
    font-size: 15pt;
    margin-bottom: 0;
    font-weight: bolder;
}
.khoshmaze .title-top-khoshmaze p:nth-child(2){
    color: white;
    font-size: 33px;
    font-weight: bolder;
    font-family: titr;
}
.main-box-khoshmaze{
    padding: 5px 22px;
   
}
.khoshmaze .box-khoshmaze-left{
    width: 100%;
    background-color: white;
    box-shadow: 1px 1px 2px 9px #ebebeb;
    position: relative;
    right: -8rem;
    top: 2rem;
}

.box-khoshmaze-left p{
    color: #eb3007;
    font-size: 16pt;
    font-family: titr;
    padding: 19px 19px 0px 0;
}
.box-khoshmaze-left span.name-food{
    font-size: 12pt;
    font-family: inherit;
    color: #858181;
    padding-left: 6px;

}


.khoshmaze .box-khoshmaze-left .dot-khoshmaze-left{
    font-size: 21pt;
    color: #6e6e6e;
}

.khoshmaze .box-khoshmaze-left .price-food{
    font-family: B koodak;
    font-size: 14pt;
    color: #999797;
    padding-right: 13px;
}



/* cooks start */
.cooks{
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    width: 100%;
    height: 97rem;
}
.title-top-cooks{
    text-align: center;
    margin-top: 65px;
}

.title-top-cooks p:nth-child(1){
    color: #eb3007;
    font-size: 15pt;
    margin-bottom: 0;
    font-weight: bolder;
}

.title-top-cooks p:nth-child(2){
    color: black;
    font-size: 33px;
    font-weight: bolder;
    font-family: titr;
   
}

.image-cooks{
    margin-top: 60px;
    box-shadow: 0 0 2px 6px silver;
}
   

.image-cooks img{
    margin: 0 auto;
    display: block;
    width: 100%;
}
.cooks .information-cooks{
    width: 100%;
    background-color: white;
    margin-top: 60px;
    height: 585px;
   
    box-shadow: -10px 0px 4px 7px silver;
}
 .cooks .box-shadow-cooks{
    box-shadow: 0px 0px 4px 7px silver;

 }
 .cooks .box-shadow-buttom-cooks{
    box-shadow: -10px 0px 4px 7px silver;

 }

.cooks .information-cooks p:nth-child(1){
    color: black;
    font-size: 25pt;
    font-family: B koodak;
    padding: 27px 25px 0px 0px;
}

.cooks .information-cooks p:nth-child(2){
    color: #eb3007;
    font-size: 11pt;
    font-family: inherit;
    font-weight: bolder;
    padding: 0 22px 0 0;
    
}
.cooks .information-cooks span.title-box-main-cooks{
    display: block;
text-align: justify;
font-size: 11pt;
color: #787777;
padding: 30px 37px;
}


.cooks .information-cooks img{
    float: left;
    padding: 25px 59px;
}




/* Reserve start */

.reserve-right{
    background-color: rgb(0, 0, 0);
    background-image: url(../img/back88.png);
    background-size: auto;
    height: 100%;
}
.Reserve .reserve-right .input-Reserve input{
    display: block;
}

.Reserve .reserve-right p:nth-child(1){
    color: #eb3007;
    font-size: 15pt;
    font-family: titr;
    margin-bottom: 0;
    padding: 160px 95px 0px 0px;
}
.Reserve .reserve-right p:nth-child(2){
    color: white;
    font-size: 30pt;
    font-family: inherit;
    font-weight: bolder;
    padding: 0px 95px 13px 0px;
}

.Reserve .container-fluid .input-Reserve input{
    width: 30rem;
    font-size: 11pt;
    height: 38px;
    text-align: right;
    margin: 12px auto;
}

.Reserve .container-fluid .input-Reserve input:nth-child(4){
    height: 147px;
}

.btn-Reserve{
    margin: 26px 6rem;
}

.Reserve .img-Reserve img {
    width: 100%;
}

/* Reserve end */


/* Lovely food start */
.Lovely-food{
    margin-top: 5rem;
}
.Lovely-food .container-img img{
    
        opacity: 1;
        display: block;
        width: 100%;
        height: auto;
        transition: .5s ease;
        backface-visibility: hidden;
        margin-bottom: 1.5rem;
}
.Lovely-food .Lovely-food-title{
    text-align: center;
}
.Lovely-food-title p:nth-child(1){
    color: #eb3030;
    font-size: 13pt;
    font-family: titr;
    margin-bottom: 0;
}
.Lovely-food-title p:nth-child(2){
    font-size: 24pt;
    font-family: inherit;
    font-weight: bolder;
}
.Lovely-food .container-img .middle{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}
.Lovely-food .container-img{
    position: relative;
    background: rgba(0,0,0,0.8);
    width: 100%;
}
.Lovely-food .container-img:hover img{
    opacity: 0.3;
   
}
.Lovely-food .container-img:hover .middle{
    opacity: 1;
}
.Lovely-food .container-img text{
    background-color: #04AA6D;
  color: rgb(255, 255, 255);
  font-size: 16px;
  padding: 16px 32px;
}

/* Lovely food end */


/* Comments start */
.Comments{
    background-image: url(../img/211ba9a53e1242f19816314d437d36f6.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.Comments .carousel {
    width: 30%;
    margin: auto;
}
.Comments .comments-title-top{
    text-align: center;
    margin-top: 4rem;
}
.Comments .comments-title-top p:nth-child(1){
    color: #ffb100;
    font-size: 16pt;
    font-family: titr;
    margin: 0;
}
.Comments .comments-title-top p:nth-child(2){
    color: white;
    font-size: 30pt;
    font-family: inherit;
    font-weight: bolder;
}

.Comments .carousel-caption{
    margin-top: 0;
    padding: 0rem 0;
    width: 25rem;
}
.Comments .carousel-caption h5{
    color: white;
    font-size: 17pt;
    font-family: inherit;
    width: 16rem;
    text-align: center;
    position: relative;
    top: 1rem;

}
.Comments .carousel-caption p{
    color: white;
    font-size: 10pt;
    font-family: inherit;
    text-align: justify;
    width: 17rem;
    position: relative;
    top: 1rem;
    
}

/* Comments end */





/* weblog */
.weblog{
    background-image: url(../img/ad088603633d49b9bd8e9a45ad4dffe0.jpg);
    width: 100%;
    height: 100%;
}
.weblog .title-weblog-top{
    text-align: center;
    margin-top: 6rem;
}
.weblog .title-weblog-top p:nth-child(1){
    font-size: 16pt;
    font-family: titr;
    color: #f15424;
    margin-bottom: 0;
}
.weblog .title-weblog-top p:nth-child(2){
    font-size: 25pt;
    font-weight: bolder;
    font-family: inherit;
    margin-bottom: 4rem !important;
}

.weblog .image-weblog img{
    width: 100%;
    object-fit: cover;
    height: 60px;
    display: block;
}

.weblog .image-weblog a{
    font-size: 12pt;
    font-family: inherit;
    color: #898989;
    padding-top: 7px;
    text-decoration: none;
}
.weblog .image-weblog p{
    font-size: 10pt;
    color: #999999;
    font-family: inherit;
}


/* Katrink start */
.Katrink{
    background-image: url(../img/850a089a10c64bcdb34a5847d7206907.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
}

.Katrink .title-katrink{
    text-align: center;
    margin-top: 11rem;
}
.Katrink .title-katrink h2{
    font-size: 34pt;
    color: white;
    font-family: B koodak;
    margin-bottom: 2rem;
}
.Katrink .title-katrink p{
    color: white;
    margin: 0;
    font-size: 15pt;
    font-family: inherit;
}
.Katrink .btn-Katrink{
    border: 1px solid rgb(236, 83, 83);;
    width: 197px;
    border-radius: 50px;
    height: 3rem;
    line-height: 40px;
    color: white;
    background-color: rgb(235, 48, 7);
    margin: 2rem auto;
}
.Katrink .btn-Katrink:hover{
    background: none;
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Katrink end */

/* footer */
.background-footer{
    background-color: rgb(0, 0, 0);
    background-image: url(../img/back88.png);
    background-size: auto;
}

.background-footer .title-footer-main{
    margin-top: 7rem;
}

.background-footer .title-footer-main p:nth-child(1){
    color: white;
    font-family: titr;
    font-size: 17pt;
    text-align: center;
}

.background-footer .border-buttom-footer{
    border-bottom: 3px solid red;
    width: 27%;
    margin: auto;
    margin-bottom: 1.5rem;
}
.background-footer .title-footer-main p.title-footer{
    text-align: center;
    color: white;
}

.footer-buttom{
    height: 5rem;
    background: black;
}

.background-footer-buttom span.title-footer1{
    position: relative;
    top: 1.5rem;
    right: 8rem;
    color: white;
    font-size: 11pt;
    font-family: inherit;
}
.background-footer-buttom span.title-footer2{
    float: left;
    position: relative;
    top: 1.5rem;
    left: 7rem;
}
.background-footer-buttom span.title-footer2 a{
    color: white;
    font-size: 16pt;
    padding: 0 15px;
}